{% extends "base.html" %}
{% load static %}
{% block content%}
    <div class="article-box">
        <article>                
            <h1>Aviso Legal</h1>
            <h2>1. Identificación del Titular de la Web</h2>
            <p>El presente aviso legal regula el uso del sitio web, con correo electrónico de contacto samliverse@gmail.com.</p>
            <h2>2. Usuarios</h2>
            <p>El acceso y/o uso de este sitio web atribuye la condición de usuario, que acepta, desde dicho acceso y/o uso, las Condiciones Generales de Uso aquí reflejadas. Las mencionadas Condiciones serán de aplicación independientemente de las Condiciones Generales de Contratación que en su caso resulten de obligado cumplimiento.</p>
            <h2>3. Uso del Sitio Web</h2>
            <p>El sitio web proporciona el acceso a informaciones, servicios, programas o datos (en adelante, "los contenidos") en Internet pertenecientes a https://alejandria.onrender.com o a sus licenciantes a los que el usuario puede tener acceso. El usuario asume la responsabilidad del uso del portal.</p>
            <h2>4. Protección de Datos Personales</h2>
            <p>En cumplimiento con lo dispuesto en el Reglamento General de Protección de Datos (RGPD) y otras normativas aplicables, se informa a los usuarios de que los datos personales facilitados a través del sitio web serán incorporados a un fichero automatizado titularidad de [tu nombre o nombre de la empresa], con la finalidad de gestionar la relación comercial y el envío de comunicaciones comerciales en caso de que el usuario lo haya solicitado.</p>
            <p>Los datos que se recopilarán son: nombre completo, email, edad, usuario, contraseña y país. Además, se dará la opción al usuario de recibir contenido comercial por email.</p>
            <p>Los datos serán conservados mientras se mantenga la relación comercial o durante los años necesarios para cumplir con las obligaciones legales.</p>
            <h2>5. Derechos de los Usuarios</h2>
            <p>Los usuarios podrán ejercer sus derechos de acceso, rectificación, cancelación y oposición enviando una solicitud expresa, junto con una copia de su DNI, a través del siguiente correo electrónico: samliverse@gmail.com.</p>
            <h2>6. Uso de Cookies</h2>
            <p>Este sitio web puede utilizar cookies para personalizar y facilitar al máximo la navegación del usuario por su sitio web. Las cookies se asocian únicamente a un usuario anónimo y su ordenador y no proporcionan referencias que permitan deducir datos personales del usuario.</p>
            <h2>7. Modificaciones del Aviso Legal</h2>
            <p>https://alejandria.onrender.com se reserva el derecho de modificar el presente aviso legal para adaptarlo a novedades legislativas o jurisprudenciales, así como a prácticas de la industria. En dichos supuestos, https://alejandria.onrender.com anunciará en esta página los cambios introducidos con razonable antelación a su puesta en práctica.</p>                   
            <h2>8. Propiedad Intelectual e Industrial</h2>
            <p>https://alejandria.onrender.com por sí o como cesionaria, es titular de todos los derechos de propiedad intelectual e industrial de su página web, así como de los elementos contenidos en la misma (a título enunciativo, imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones de colores, estructura y diseño, selección de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc.), titularidad de https://alejandria.onrender.com o bien de sus licenciantes.</p>
            <h2>9. Exclusión de Garantías y Responsabilidad</h2>
            <p>https://alejandria.onrender.com no se hace responsable, en ningún caso, de los daños y perjuicios de cualquier naturaleza que pudieran ocasionar, a título enunciativo: errores u omisiones en los contenidos, falta de disponibilidad del sitio web o la transmisión de virus o programas maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo.</p>
            <h2>10. Legislación Aplicable y Jurisdicción</h2>
            <p>La relación entre https://alejandria.onrender.com y el usuario se regirá por la normativa vigente y de aplicación en el territorio. De surgir cualquier controversia, las partes podrán someter sus conflictos a arbitraje o acudir a la jurisdicción ordinaria cumpliendo con las normas sobre jurisdicción y competencia al respecto.</p>
        </article>   
    </div>
{% endblock %} 