{% extends "base.html" %}
{% load static %}
{% block content%}
    <div class="form-box">
        <h1>Contacto</h1>
        <form method='POST' action={% url 'mensaje' %}>{% csrf_token %}
            <label>Nombre</label>
            <input id="first_name" name="first_name" type="text" placeholder="Ejemplo: José">
            <label>Email</label>
            <input id="email" name="email" type="email" placeholder="ejemplo@ejemplo.com">
            <textarea id="message" name="message" placeholder="Escriba aquí su mensaje"></textarea>
            <button type="submit">Enviar</button>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        </form>
        

    </div>
{% endblock %}
