<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alejandr.ia - Inicio de Sesión</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
</head>
<body>
    <div class="form-box">
        <h1>Iniciar Sesión</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar Sesión</button>
        </form>
        <p class="message">Si aún no tienes una cuenta regístrate.</p>
        <a href="{% url 'registro' %}">Registro</a>
        <a href="{% url 'index' %}">Inicio</a>
    </div>
</body>
</html>