{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="article-box">
    <article class="box">
        <h1 class="title-box">Sobre nosotros</h1>
        <p>Alejandria más que una página de recomendaciones es una comunidad de personas con inquietudes diversas que buscan nuevas recomendaciones literarias. 
            Yo al igual que tu también era ese joven inquieto que quería leerse todos los libros y aprender de todos los temas posibles.
        </p>
        <h2>¿Que vas a ver en Alejandria?</h2>
        <p>Principalmente, recomendaciones de libros de diversas temáticas, algunos estudios o papers y manuales de bibliografías diversas.</p>
        <h2>Cómo nace la idea.</h2>
        <p>La idea nace de la necesidad en los tiempos que corren de crear una base de datos que para puntuar libros y que puedas ver nuevas recomendaciones literarias.</p>
        <h2>¿Cómo puedes colaborar para valorar el trabajo del autor o autores de este proyecto?</h2>
        <p>Puedes colaborar económicamente con los links de la página web. Si el dinero es un inconveniente no pasa nada, hay otras formas de colaborar
            como puede ser: compartir la página en redes sociales o simplemente dejar un mensaje en el apartado de contacto.</p>
    </article>
</div>
{% endblock %}