#DJANGO
DJANGO_SECRET_KEY=django-secret-key-example
DEBUG=True

#DATABASE
DB_NAME=db-name-example
DB_USER=db-user-example
DB_PASSWORD=db-password-example
DB_HOST=db-host-example
DB_PORT=5432

#GOOGLE API
API_KEY=api-key-example